name = "rest-express"
main = "dist/index.js"
compatibility_date = "2024-11-01"

[build]
command = "npm run build"

[site]
bucket = "./dist/public"

[observability]
logs = { enabled = true }

[vars]
NODE_ENV = "production"
